.container{
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}

ul{
  margin: 0;
}

.main-header{
  position: relative;
}

.logo{
	position: absolute;
	left:50%;
	margin-left: -69px;
	z-index: 2;
}

.main-navigation{
  position: relative;
}

.main-navigation ul{
  list-style: none;
  font-size: 0;
  padding: 0;
}

.main-navigation li{
  display: inline-block;
  vertical-align: top;
  width: 20%;
}

.main-navigation .offset{
  margin-right: 20%;
}

.main-navigation a{
  display: block;
  font-size: 14px;
  line-height: 18px;
  padding: 20px 0;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.promo{
  min-height: 508px;
  background: url("../img/background-intro.jpg") no-repeat center top;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
}

.promo img{
  padding-top: 76px;
  padding-left: 50%;
  margin-left: -227px;
}

.promo::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 57px;
  background: url("../img/image-intro.png") no-repeat center;
  -webkit-background-size: 100% 57px;
  background-size: 100% 57px;
}

.promo-text h1{
  margin-top: 105px; /*Правильно ли тут?*/
  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans";
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.promo-text p{
  margin-top: 40px; /*Правильно ли тут?*/
  margin-bottom: 58px;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans";
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.features{
  float: left;
  background-color: rgb(129, 179, 210);
  color: rgb(255, 255, 255);
  width: 33.3%;
  height: 256px;
  text-align: center;
}


.features-image{
  width: 100%; /*Почему тут 100%?*/
  height: 256px;
}

.features-ico-1{
  height: 330px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.features-ico-2{
  height: 330px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.features-ico-3{
  height: 330px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.features-image-two{
  float: left;
  width: 66.6%;
  height: 256px;
}

.features-ico-4{
  color: rgb(0, 0, 0);
  background-color: rgb(238, 238, 238);
}

.search-form-title{
  float: left;
  height: 291px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.search-form-title h1{
  margin-top: 58px;
  text-align: center;
}

.search-form-title p{
  margin-top: 40px;
  height: 14px;
  line-height: 24px;
  color: rgb(51, 51, 51);
  text-align: center;
}

.search-form-title h2{
  margin-top: 58px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 30px;
  line-height: 26px;
  font-family: "PT Sans";
}

.search-form-title p{
  margin-top: 41px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans";
}
.search-form-title a{
  text-decoration: none;
  position: absolute;
  display: block;
  width: 568px;
  left: 50%;
  margin-left: -284px;
  margin-top: 53px;
  padding-top: 35px;
  height: 51px;
  background-color: rgb(118, 99, 87);
}

.button-register{
  font-size: 21px;
  font-family: "PT Sans";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.238;
  text-align: center;
}

.map-container{
  float: left;
  height: 593px;
  border: 3px solid green;
}

.map-container>img{
  position: relative;
  width: 100%;
  z-index: 1;
  /*height: 593px;*/
}

.main-footer{
  position: relative;
  height: 120px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  opacity: 0.902;
  padding-bottom: 0px;
  z-index: 2;
}

.footer-hashtag{
  position: relative;
  float: left;
  left: 9%;
  margin-top: 51px;
  font-size: 21px;
  font-family: "PT Sans";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.238;
}

.footer-social{
  position: absolute;
  left: 50%;
  margin-left: -76px;
  margin-top: 36px;
}

.footer-copyright{
  position: relative;
  float: right;
  right: 9%;
  margin-top: 42px;
}

/*Вторая страница*/

.filter-form{
  background: url("../img/background-two.jpg") no-repeat center top;
  height: 217px;
}

.infrastructure{
  color: rgb(255, 255, 255);
  margin-left: 6%;
}








